In [55]:
import pandas as pd
df = pd.read_csv("/Users/eliyahbohadana/Stroke-Risk-ML-classifier/data/stroke_raw.csv")
df.shape

(5109, 12)

In [56]:
df = df.drop(columns=["id"])
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [58]:
df.isna().sum().sort_values(ascending=False)

bmi                  201
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
smoking_status         0
stroke                 0
dtype: int64

In [59]:
df['bmi']= df['bmi'].fillna(df['bmi'].median())
df.isna().sum().sort_values(ascending=False)

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [70]:
#columns that need encoding + different type of objects in different categories
x= df.select_dtypes("object").columns
for i in x : 
    y= df[i].value_counts()
    print(y)

gender
Female    2994
Male      2115
Name: count, dtype: int64
ever_married
Yes    3353
No     1756
Name: count, dtype: int64
work_type
Private          2924
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: count, dtype: int64
Residence_type
Urban    2596
Rural    2513
Name: count, dtype: int64
smoking_status
never smoked       1892
Unknown            1544
formerly smoked     884
smokes              789
Name: count, dtype: int64

#problem: as we look through the different type of answers per category we notice answers #like "unknown" in smoking_status. although "unknown" describes missing information, its #presence is in a lot of rows and is too valuable to delete

In [ ]:
df.to_csv("/Users/eliyahbohadana/Stroke-Risk-ML-classifier/data/stroke_clean.csv",index= False)